* {
  box-sizing: border-box;
  cursor: none;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

main {
  display: none;
  height: 0;
  visibility: hidden;
  width: 0;
}
